*  {
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
}
body {
    margin: 0;
    background-image: url(../img/yellow-abstract.jpg);
    background-repeat: no-repeat;
    height: 100vh;

}
.navbar {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.va {
    font-size: 50px;
    font-family: 'Abril Fatface', cursive;
    margin-left: 10px;
}
ul {
    margin-right: 10px;
}
.about {
    
    
    font-family: 'Bree Serif', serif;
}
.text {
    margin-left: 15px;
    max-width: 700px;
}
.smoltext {
    width: fit-content;
    font-family: 'Bree Serif', serif;
    font-size: 18px;

}

.jag {
    /* border: solid black; */
    width: 250px;
    border-radius: 5px;
    box-shadow: -4px 4px 4px rgb(255, 255, 255);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 200px; */
    height: 75vh;
}
.endgame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.endgame-chips {
    display: flex;
    gap: 50px;
    
    
}
.chips {
    /* background-color: rgb(168, 116, 3); */
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 10px;
    padding: 8px;
    color: white;
    text-align: justify;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -7px 7px 7px rgb(255, 230, 7);
    
}